{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <section class="drivers">
        <h1>Dashboard</h1>

            <p>
                <a href="{{ path('showOrders') }}">All Orders</a>
            </p>

    </section>
{% endblock %}
