{% extends 'base.html.twig' %}

{% block title %}Taxis in district{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Our Drivers in district</h1>
    <h3>Select a district to search for taxi cars.</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}
