<header class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="/">
        Taxi Service
    </a>
    <button class="navbar-toggler" type="button"
            data-toggle="collapse"
            data-target="#nav-items"
            aria-controls="nav-items"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="collapse navbar-collapse" id="nav-items">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_default_index') }}">Order Taxi</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_drivers_index') }}">Our Drivers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_drivers_district_view') }}">Cars in Districts</a>
            </li>
        </ul>
    </nav>
</header>
